.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: rgb(110,129,84);
  display: flex;
  height: 100px;
  padding: 20px;
  color: white;
}

.app-nav-bar {
  background-color: rgb(63,74,48);
  height: 30px;
  padding: 10px 0;
}

.app-nav-link {
  color: white;
  float: left;
  margin-left: 4%;
  margin-top: 0.3%;
}

.app-nav-link:hover {
    color: rgb(225,225,102);
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-cart {
  background-color:#d2d420;
  border-radius: 10px;
  font-size: 20px;
  height: 60px;
  margin-right: 5%;
  position:relative;
  width: 320px;
}

.button-cart.filter {
  margin-top: 10%;
}

.button-cart.checkout {
  height: 50px;
  margin-left: 10%;
  width: 250px;
}

.button-search {
  background-color:#207cca;
  color:#fafafa;
  height: 50%;
  left:-8px;
  margin: 20px 0;
  padding:6px 15px;
}

#cart-window {
  background-color: rgb(256,256,256);
  border:2px solid black;
  border-radius: 25px;
  color: black;
  float: left;
  height: 500px;
  position: fixed; /*trocar */
  margin-left: 75%;
  margin-top: 7%;
  width: 300px;
  z-index: 1;
}

.checkout-cart-info {
  font-size: 20px;
  margin-left: 10%;
  position: relative;
  text-align: left;
}

.checkout-cart-prod {
  height: 40px;
  margin: 70px 30px;
  position: relative;
  width: 600px;
}

.checkout-header{
  font-size: 20px;
  margin: 0 100px;
}

.checkout-header-info {
  display: flex; 
  left: 200px;
  position: relative;
  width: 800px;
}

.checkout-prod-info {
  display: flex;
  position: relative;
  width: 800px;
}

.filter-by {
  font-size: 200%;
  margin-left: 10%;
  position: relative;
  text-align: left;
}

.filter-opt {
  font-size:130%;
  margin-left: 10%;
  position: relative;
  text-align: left;
}

.filter-opt-list {
  align-self: flex-start;
  margin-left: 10%;
  position: relative;
  text-align: left;
}

.footer {
  background-color: rgb(110,129,84);
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  height: 40px;
  text-align: center;
}

.main-image {
  /*animation: App-main-move infinite 3s linear;*/
  height: 30em;
  margin: 0px 30px;
  width: 80em;
}

.main-text-box {
  background-color: rgb(110,129,84);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  height: 50px;
  margin-left: 30%;
  padding: 15px;
  text-align: center;
  top: 10%;
  width: 600px;
}

.muddy-paws-logo {
  height: 95px;
  /*left: -750px;*/
  float: left;
  margin-left: 2%;
  position: relative;
  top: 10%;
  width: 95px;
}

.pop-prod {
  height: 400px;
  margin-left: 12%;
  width: 1500px;
}

.pop-prod-text {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 150%;
}

#prod-desc {
  font-size: 150%;
  text-align: left;
}

.prods-display {
  display: flex;
  width: 950px;
}

.prod-group-cards {
  margin-left: 60px;
  margin-right: 150px;
}

.prod-img {
  height: 250px;
  margin: 20px 30px;
  width: 250px;
}

.prod-img-checkout {
  height: 150px;
  margin: 20px 30px;
  width: 150px;
}

.prod-img-sel {
  height: 30em;
  margin: 20px 65px;
  width: 30em;
}

#prod-img-cart {
  height: 120px;
  margin-left: 5%;
  position: relative;
  width: 120px;
}

#prod-info-cart {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin-left: 15%;
  position: relative;
  text-align: left;
}

.prod-mini-cards {
  border: 2px solid #999;
  border-radius: 10px;
  height: 80px;
  margin: 0px 30px;
  width: 80px;
}

.prod-name {
  font-size: 300%;
  position: relative;
  text-align: left;
}

.prod-page-screen-l{
  margin: 0px 20px;
  width: 25%;
}

.prod-page-screen-r {
  width: 75%;
}

.prod-price {
  font-size: 250%;
  text-align: left;
}

.screen-align {
  display: flex;
}

.screen-checkout-l {
  width: 75%;
}

.screen-checkout-r {
  width: 25%;
}

.screen-spec-prod-l {
  width: 50%;
}

.screen-spec-prod-r {
  left: 60px;
  position: relative;
  width: 50%;
}

.search {
  display: flex;
  float: left;
  margin-left: 20%;
  position: relative;
  top: 10%;
  width: 700px;
}

.search-bar {
  border-radius: 5px;
  height: 30px;
  margin: 22px;
  padding: 6px;
  width: 600px;
}

.sel-opt {
  margin-left: 1.5%;
  margin-top: 1.7%;
  position: relative;
}

.shopping-cart {
  display: flex;
  position: relative;
  margin-left: 15%;
}

.shopping-cart-img {
  height: 80px;
  position: relative;
  top: 20%;
  width: 80px;
}

#shopping-cart-text {
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  padding: 20px;
  position: relative;
  margin-top: 20%;
}

.stars-main-page {
  height: 15px;
  vertical-align: middle;
}

.total-price {
  float: left;
  font-size: 200%;
  margin-left: 80%;
  position: relative;
}

.vertical-line {
  border-left: solid #979797;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-main-move {
  from { transform: translateX(-500px); }
  to { transform: translateX(1000px); }
}
