.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  border:2px solid black;
  background-color: rgb(110,129,84);
  display: flex;
  height: 100px;
  padding: 20px;
  color: white;
}

.app-nav-bar {
  background-color: rgb(63,74,48);
  height: 30px;
  padding: 10px 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.button-search {
  background-color:#207cca;
  color:#fafafa;
  height: 50%;
  left:-8px;
  margin: 20px 0;
  padding:6px 15px;
}

.main-image {
  /*animation: App-main-move infinite 3s linear;*/
  height: 30em;
  margin: 0px 30px;
  width: 80em;
}

.main-text-box {
  background-color: rgb(110,129,84);
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
  height: 50px;
  left: 350px;
  padding: 15px;
  text-align: center;
  top: 590px;
  width: 600px;
}

.muddy-paws-logo {
  height: 95px;
  /*left: -750px;*/
  position: relative;
  top: 10px;
  width: 95px;
}

.prods-display {
  border:2px solid black;
  display: flex;
  width: 950px;
}

.prod-img {
  border:2px solid black;
  height: 250px;
  margin: 20px 30px;
  width: 250px;
}

.search {
  border:2px solid black;
  display: flex;
  left: 150px;
  margin: 0 100px;
  position: relative;
  top: 10px;
  width: 700px;
}

.search-bar {
  border-radius: 5px;
  height: 30px;
  margin: 22px;
  padding: 6px;
  width: 600px;
}

.shopping-cart {
  border:2px solid black;
  display: flex;
  margin: 0 50px;
  position: relative;
  right: -370px;
}

.shopping-cart-img {
  height: 80px;
  position: relative;
  top: 20px;
  width: 80px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-main-move {
  from { transform: translateX(-500px); }
  to { transform: translateX(1000px); }
}
