.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: rgb(110,129,84);
  height: 100px;
  padding: 20px;
  color: white;
}

.app-nav-bar {
  background-color: rgb(63,74,48);
  height: 30px;
  padding: 10px 0;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main-image {
  /*animation: App-main-move infinite 3s linear;*/
  height: 30em;
  margin: 0px 30px;
  width: 80em;
}

.muddy-paws-logo {
  height: 95px;
  left: 50px;
  margin: 0 50px;
  top: 10px;
  width: 95px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-main-move {
  from { transform: translateX(-500px); }
  to { transform: translateX(1000px); }
}
